<h1>Edit your pin:</h1>

<%= simple_form_for @pin do |form| %>

	<p>
		<%= form.input :title, label: "Enter the name here:" %>
	</p>

	<p>
		<%= form.input :caption, label: "Enter the price here:" %>
	</p>

	<p>
		<%= form.input :url, label: "Attach a url:" %>
	</p>


	<p>
		<%= form.button :submit %>
	</p>

<% end %>



<%= link_to 'Add a new pin', new_pin_path %><br>
<%= link_to 'Create a board', new_board_path %><br>
<%= link_to 'My Pins', pins_path %><br>
<%= link_to 'My Boards', boards_path %><br>
<%= link_to 'Home', root_path %>