<h1>This page is ONLY for private pins</h1>

<%= link_to 'Add a new pin', new_pin_path %><br>

<% if @pins.empty? %>
	<strong>You have no pins yet!</strong>
<% else %>
	<strong>Here are your pins:</strong>
		<% @pins.each do |pin| %>
			<p>Name: <%= pin.title %></p>
			<p>Caption: <%= pin.caption %></p>
			<p><%= link_to 'Photo', pin.url %></p>
			<p><%= link_to 'Show above pin', pin_path(pin) %></p>
		<% end %>
<% end %>

<%= link_to 'Home', root_path %>

