<br>

<strong><%= @pin.title %></strong><br>
<p><%= @pin.caption %></p><br>
<p>Likes: <%= @pin.like %></p>
<img src = "<%= @pin.url %>" style="width:500px;height:500px;"><br><br>
<p><%= button_to 'Like', like_pin_path(@pin), method: :post %></p>



<%= button_to "Delete Pin", @pin, :method => :delete, data: {confirm: "Are you sure bru?"} %><br>
<%= button_to 'Add to Board', addtoboard_pin_path(@pin) %><br>
<%= button_to 'Edit', edit_pin_path(@pin) %><br>





