<br>

<strong><%= @pin.title %></strong><br>
<p><%= @pin.caption %></p><br>
<img src = "<%= @pin.url %>" style="width:500px;height:500px;"><br><br>


<%= link_to 'Add to Board', addtoboard_pin_path(@pin) %><br>
<%= link_to 'Edit', edit_pin_path(@pin) %><br>





<%= link_to 'Add a new pin', new_pin_path %><br>
<%= link_to 'Create a board', new_board_path %><br>
<%= link_to 'My Pins', pins_path %><br>
<%= link_to 'My Boards', boards_path %><br>
<%= link_to 'Home', root_path %><br><br>