<h1>These are all boards and pins that users have posted</h1>

<% if @pins.empty? %>
	<strong>You have no pins yet!</strong>
<% else %>
	<strong>Here are your pins:</strong>
		<% @pins.each do |pin| %>
			<p>Name: <%= pin.title %></p>
			<p>Caption: <%= pin.caption %></p>
			<%= link_to 'Photo', pin.url %><br>
		<% end %>
<% end %>



<%= link_to 'Add a new pin', new_pin_path %>
<%= link_to 'Create a board', new_board_path %>
<%= link_to 'My pins', pins_path %>