<h1>My Boards</h1>

<% if @boards.empty? %>
	<strong>You have no boards yet!</strong><br>
<% else %>
		<% @boards.each do |board| %>
			<strong><%= link_to board.name, board_path(board) %></strong>
			<p><%= board.description %></p><br><br>
			
		<% end %>
<% end %>

<%= link_to 'Add a new pin', new_pin_path %><br>
<%= link_to 'Create a board', new_board_path %><br>
<%= link_to 'My Pins', pins_path %><br>
<%= link_to 'My Boards', boards_path %><br>

<%= link_to 'Home', root_path %>