<h1><%= @board.name %><h1>
<h2><%= @board.description %></h2><br>



<% @board.pins.each do |pin| %> 
	<strong><%= pin.title %></strong><br>
	<p><%= pin.caption %><p>
	<img src = "<%= pin.url %>" style="width:500px;height:500px;"><br>
<% end %>



<%= button_to "Delete Board", @board, :method => :delete, data: {confirm: "Are you sure bru?"} %><br>
