<h1><%= @board.name %><h1>
<h2><%= @board.description %></h2><br>



<% @board.pins.each do |pin| %> 
	<strong><%= pin.title %></strong><br>
	<p><%= pin.caption %><p>
	<img src = "<%= pin.url %>" style="width:500px;height:500px;"><br>
<% end %>



<%= link_to 'Add a new pin', new_pin_path %><br>
<%= link_to 'Create a board', new_board_path %><br>
<%= link_to 'My Pins', pins_path %><br>
<%= link_to 'My Boards', boards_path %><br>

<%= link_to 'Home', root_path %>